# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log

# Terraform local directory
.terraform/
.terraform.lock.hcl

# Sensitive variables
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS files
.DS_Store
Thumbs.db
